#!/bin/bash

#dcm4che singularity image file
SINGULARITY_IMG='/project/6007967/akhanf/singularity/dcm4che-0.1.img'

#CFMM PACS server
CONNECT='CFMM-Public@dicom.cfmm.robarts.ca:11112'

#retrieve script:
RETRIEVE_SCRIPT=$AUTOBIDS_DIR/etc/retrieve_cfmm_tgz.py  

LOG_FILE=~/retrieve_cfmm_tgz.log

TGZ_DEST_DIR="/project/6007967/akhanf/cfmm-bids/incoming"

#Use 'True' if want to keep each study's sorted dicom data 
KEEP_SORTED_DICOM='False'

