#!/bin/bash

#retrieve cfmm singularity image file
RETRIEVE_SINGULARITY_IMG=/project/6007967/akhanf/singularity/khanlab_retrieve_cfmm_0.3.img

#retrieve script:
RETRIEVE_SCRIPT=retrieve_cfmm_tgz.py  

#CFMM PACS server
CONNECT='CFMM-Public@dicom.cfmm.robarts.ca:11112'

#log directory for retrieval, new file generated each day
RETRIEVE_LOG_DIR=$AUTOBIDS_DIR/var/log_retrieve_cfmm

#files for 
DOWNLOADED_TAR_LIST=$AUTOBIDS_DIR/var/downloaded_tar.txt
DOWNLOADED_UID_LIST=$AUTOBIDS_DIR/var/downloaded_uid.txt

#incoming dicom tars that do not match up a project are put here:
INCOMING_TAR_DIR=$AUTOBIDS_DATA/incoming

#Use 'True' if want to keep each study's sorted dicom data 
KEEP_SORTED_DICOM='False'

